@media (max-width: 1024px) {
  .mainContent {
    width: 100%;
    height: 100%;
    display: -moz-inline-stack;
  }

  .cardTitle {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10px;
    color: #505eaf;
  }

  .card {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10px;
    color: white;
  }

  .cardBody {
    padding: 0;
    background-color: whitesmoke;
    border: 2px solid white;
  }
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url(./background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }

.NavDiv {
  font-size: 40px;
  background-color: black;
  font-family: Impact, Haettenschweiler, sans-serif;
  width: 100%;
  padding-left: 400px;
  border-bottom: 1px solid #505eaf;
}

img {
  width: 45px;
  height: 45px;
  margin-bottom: 1px;
  margin-left: 15px;
  padding-top: 5px;
}

.mainContent {
  margin-left: 41%;
  margin-top: 80px;
  margin-bottom: 100px;
  text-align: center;
}

.cardTitle {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  color: #505eaf;
}

.card {
  width: 20rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  color: white;
}

.cardBody {
  padding: 10px 10px;
  background-color: black;
}

.copyright {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  padding-right: 10px;
}

#link {
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #505eaf;
}

#link:hover {
  color: whitesmoke;
  text-shadow: 5px 5px 20px #505eaf ;
}

#buttons {
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
}

.tempList {
  background-color: whitesmoke;
    border: 1px solid #505eaf;
    width: 70%;
    color: #505eaf;
    text-align: left;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 100px;
    margin-left: -120px;
    padding-left: 15px; 
} 

#title {
  color: #505eaf;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #505eaf;
  text-align: center;
}

#nameList {
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#valuesList {
  color: black;
  font-weight: bold;
}

#time {
  color:darkred;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  text-align: center;
}
